<section>
    <mat-card class="logistic-container logistic-container__section1">
        <mat-card-header class="logistic-container__header">
            <mat-card-title>{{label.section1.headerLabel}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="section1FormGroup" >
                <div class="logistic-container__section1--row">
                    <label for="">{{label.section1.customerName}}</label>
                    <input type="text" formControlName="customerName">
                </div>
                <div class="logistic-container__section1--row">
                    <input type="text" formControlName="toppings">
                </div>
                <div class="logistic-container__section1--row">
                    <input type="text" formControlName="size">
                </div>
                <div class="logistic-container__section1--row">
                    <input type="button" value="{{label.section1.btnLabel}}" (click)="section1()">
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</section>
